mkdocs
mkdocs-material
mkdocs-mermaid2-plugin
mkdocs-ezlinked-plugin
mkdocs-awesome-pages-plugin
mdx_breakless_lists
mkdocs-embed-file-plugins
mkdocs_custom_fences
mkdocs-git-revision-date-localized-plugin
mkdocs-encryptcontent-plugin
mkdocs-callouts
mkdocs-custom-tags-attributes
mkdocs-static-i18n
mkdocs-meta-descriptions-plugin
mkdocs-glightbox
mkdocs-minify-plugin
mkdocs-exclude
cairocffi
pillow
cairosvg
pyyaml 
pyyaml_env_tag